*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  position: fixed;
}
.App {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
 }

.select {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.custom-select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 15px;
  background-color: #fff;
  color: #333;
}

.custom-select option[disabled] {
  display: none;
}

.custom-select option {
  background-color: #fff;
  color: #333;
}

.custom-select:focus {
  outline: none;
  border-color: #007bff; /* Change border color on focus */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add box shadow on focus */
}



/* Apply styles to the table */
table {
  border-collapse: separate;
  margin-bottom: 20px;
  padding: 20px;
  padding-bottom: 40px;
  border: 1px solid #ccc;
  position: relative;
  height: auto;
}

table td {
  padding: 10px;
  text-align: center;
}

/* Style the button */
button {
  background-color: red;
  color: white;
  border: none;
  padding: 15px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  right: 0;
  position: absolute;
  


}

button:hover {
  background-color: #45a049;
}


.info {
  flex: 1; /* Take up remaining space */
  padding: 10px;
}

/* Apply styles to the info component */
.info {
  padding: 20px;
  border-radius: 5px;
}

/* Style the heading */
.info h4 {
  font-size: 18px;
  margin-bottom: 30px;
}

/* Style the list */
.info ul {
  list-style: none;
  padding: 0;
}

/* Style the list items */
.info li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

/* Style the seat icons */
.info li .h {
  margin-right: 10px;
  font-size: 24px;
}

/* Style the text */
.info li span {
  font-size: 16px;
  color: #333;
}


/* Add more styles as needed */

.e{
  color: rgb(77, 73, 73);
}
.s{
  color: rgb(104, 220, 84);
}
.a{
  color: #ccc;
}
.h:hover{
  border: 1px solid rgb(99, 142, 157);
  border-radius: 30%;
}